.outerbox{
    background-color: coral;
    border: 1px solid black;
    min-height: 400px;
    margin-bottom: 8px;
    /* height: 50vh; */
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

}
.box{
    background-color: darkmagenta;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    justify-content: space-between;
    margin: 2px;

}
.box4{
    /* flex: 1; */
}
.box2{
    flex-grow: 1;
}








.container{
    display: flex;
    text-align: justify;


}
p{
    padding: 10px;
    margin: 1px;
}
.para1{
    background-color: blueviolet;
    flex: 3;
    order: 2;
}
.para2{
    background-color: brown;
    flex: 2;
    order: 3;
}
.para3{
    background-color: chartreuse;
    flex: 2;
    order: 1;
}







