.box{
    background-color: lawngreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation-name: circle;
    animation-duration: 3s;
    animation-direction: reverse;
    /* animation-iteration-count:infinite; */
}
@keyframes circle {
    0%{
        width: 100px;
        height: 100px;
        left: 0px;
        /* background-color: rgb(139, 0, 95); */
    }
    25%{
        width: 50px;
        height: 50px;
        left: 100px;
        background-color: rgb(5, 139, 0);
    }
    50%{
        width: 200px;
        height: 200px;
        left: 200px;
        background-color: rgb(0, 113, 139);
    }
    75%{
        width: 50px;
        height: 50px;
        left: 100px;
        background-color: darkred;
    }
    100%{
        width: 100px;
        height: 100px;
        left: 0px;
        background-color: rgb(139, 67, 0);
    }
    
}








.square{
    background-color: aqua;
    width: 100px;
    height: 100px;
    transition-duration: .51s;
    transition-timing-function: ease-in;
}
.square:hover{
    background-color: rgb(225, 255, 0);
    width: 100px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
     transform: scale(2);
     transform: translate(-100%);
}