.yellowbox{
    width: 300px;
    height: 100px;
    background-color: rgb(240, 240, 14);
    margin: 10px 0px;
    border: 2px solid black;
    float: left;
    margin-right: 10px;
    
}
#simham{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    border: 2px solid red;
}
.greenbox{
    width: 300px;
    height: 100px;
    background-color: rgb(4, 98, 5);
    margin: 20px 0px;
    border: 2px solid;
    float: right;
    margin: 10px;
}
div p{
   width: 31.33%;
   float: left;
   text-align: justify;
   padding: 1%;
   

}
